@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary: hsl(257, 40%, 49%);
$textColor: hsl(0, 0%, 100%);
$btnBgColor: hsl(0, 0%, 100%);
$hoverTrsn: 0.1s ease;

body {
    height: 100%;
    margin: 3.35rem 4.3rem;
    background: url(../images/bg-desktop.svg) no-repeat center fixed, $primary;
    background-size: cover;
}

a {
    text-decoration: none;
}

.logo {
    width: 216px;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

main {
    margin: 5rem 0.3rem 0;
    display: flex;
    flex-flow: row;
    gap: 3.3rem;

    .illustration {
        display: flex;
        flex: 1 0 54.8%;
        align-items: center;
        position: relative;
        animation: displayIllustration 1.2s ease;

        @keyframes displayIllustration {
            from {
                opacity: 0;
                right: 4rem;
            } to {
                opacity: 1;
                right: 0;
            }
        }

        img {
            width: 100%;
        }
    }

    .intro {
        margin-top: 2.65rem;
        position: relative;
        animation: displayName 1s ease;

        @keyframes displayName {
            from {
                opacity: 0;
                left: 2rem;
            } to {
                opacity: 1;
                left: 0;
            }
        }

        .intro__heading {
            margin-bottom: 1.325rem;
            font-size: clamp(1.475rem, 4vw, 2.475rem);
            color: $textColor;
            font-weight: 600;
        }

        .intro__para {
            padding-right: 1rem;
            font-size: clamp(1rem, 4vw, 1.125rem);
            color: $textColor;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
        }

        .btn--register {
            margin-top: 1.5rem;
            padding: 0.9rem 3.975rem;
            border-radius: 2rem;
            background: $btnBgColor;
            font-size: 1.125rem;
            color: $primary;
            box-shadow: 0 4px 8px 4px rgb(0, 0, 0, 0.25);
            transition: $hoverTrsn;

            &:hover {
                $btnBgColor: hsl(300, 69%, 71%);
                background: $btnBgColor;
                color: $textColor;
            }
        }
    }
}

footer {
    margin: 0 0.7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .social-link {
        width: 40px;
        height: 40px;
        margin-top: 1.3rem;
        border-radius: 50%;
        border: 1.5px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.15rem;
        color: $textColor;
        transition: $hoverTrsn;

        &:hover {
            $textColor: hsl(300, 69%, 71%);
            color: $textColor;
        }
    }
}

@media (max-width: 1000px) {
    body {
        margin: 1.975rem 2rem;
        background: url(../images/bg-mobile.svg) no-repeat fixed, $primary;
        background-size: 100%;
    }

    .logo {
        width: 130px;
    }

    main {
        margin-top: 3.45rem;
        flex-flow: column;
        gap: 3.75rem;

        .illustration {
            max-width: 712px;
            margin: auto;
        }

        .intro {
            margin-top: 0rem;
            text-align: center;

            .intro__heading {
                margin-bottom: 0.75rem;
            }

            .intro__para {
                padding-right: 0;
            }

            .btn--register {
                font-size: 0.74rem;
                padding: 0.7rem 4.8rem;
            }
        }
    }

    footer {
        margin-top: 2.65rem;
        justify-content: center;
        gap: 0.6rem;

        .social-link {
            width: 28px;
            height: 28px;
            font-size: 0.95rem;
        }
    }
}